body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(rgba(225, 255, 255, 0.5), rgba(225, 255, 255, 0.7)), url("./images/tech-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.full-screen, .front-screen{
  width:100%;
  height:100vh;
}
.full-screen-apps{
  width:100%;
  height:185vh;
}
.project{
  width:100%;
  height:40vh;
}
.skills-show{
  height:100vh;
}
.logo{
  max-height:25px;
}
.contact-me{
  height:40vh;
}
.slate-bg{
  background-color:slategray;
}
.w-65{
  width:65%;
}
.project-img{
  object-fit:contain;
  max-height:39vh;
  max-width:49%;
}
.smoke-bg{
  background-color:whitesmoke;
}
.grey-bg{
  background-color:lightgrey;
}
.title-text{
  text-decoration:underline;
}
.self-image{
  max-height:50vh;
}
.typewriter >* {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
   /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}
.white-cursor{
border-right: .1em solid white;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@media only screen and (max-width: 600px) {
  .full-screen{
  width:100%;
  height:163vh;
}
.col-4{
  width:80%;
}
.skills-show{
  height:140vh;
}
.full-screen-apps{
  width:100%;
  height:180vh;
}
.w-65{
  width:50%;
}
.contact-me{
  height:50vh;
}
.navbar-nav li{
  display:inline!important;
}
.navbar-nav{
  display:inline;
  flex-direction: row;
}
.title-text{
  padding-top:13%;
}
}
